<%#
undefined method `name' for #<Twinfield::SalesInvoice::VatLine:0x00000001069ccde8 @vatcode="VH", @vatvalue=6.94, @performancetype="", @performancedate="", @vatname="BTW 21%">

%>

<tr>
  <td><%= vat_line.vatname%></td><td class="number"><%= number_to_currency vat_line.vatvalue%></td>
</tr>