<%= simple_form_for [@customer, @collect_mandate], url: customer_collect_mandate_path(@customer) do |form| %>
<%= form.input :iban %>
<%= form.input :signed_on, html5: true%>
<%= form.input :sign_location%>
<%= form.input :signed_document if @collect_mandate.uuid%>
<div class="actions">
<%= form.submit%>
</div>
<% end %>