<div class="not-for-print">
  <h1>Doorlopende SEPA-machtiging (automatische incasso)</h1>
  <p>Print deze pagina, laat de klant deze pagina ondertekenen en upload deze vervolgens hier; de printweergave van deze pagina verbergt deze toelichting formuliervelden.</p>
  <%= render partial: "form"%>
  <hr />
</div>
<section class="print-preview">
  <h1>Doorlopende SEPA-machtiging (automatische incasso)</h1>
  <h2>Gemachtigde</h2>
  <%= render partial: "organisation_address"%>

  <dl>
    <dt>Incassant-ID</dt>
    <dd><%= Rails.application.config_for(:uitleen).dig(:finance, :collect_id)%></dd>
    <dt>Kenmerk</dt>
    <dd><%=@collect_mandate.sepa_proof_uuid %></dd>
  </dl>

  <h2>Machtiging gever</h2>

  <dl>
    <dt>Naam:</dt>
    <dd><%=@customer.name%></dd>
    <dt>Factuuradres:</dt>
    <dd><%=simple_format @customer.invoice_address%></dd>
    <dt>IBAN:</dt>
    <dd><%=@collect_mandate.iban_tools_iban.prettify%>
  </dl>

  <p>Door ondertekening van dit formulier geeft u
  toestemming aan:</p>
  <ul>
  <li><strong>Heden</strong> om doorlopend incassoopdrachten te sturen naar uw bank om een bedrag
  van uw rekening af te schrijven en</li>
  <li><strong>uw bank</strong> om doorlopend een bedrag van uw rekening
  af te schrijven overeenkomstig de opdracht van
  Heden.
  </li>
  </ul>
  <p>Als u het niet eens bent met deze afschrijving kunt u
  deze laten terugboeken. Neem hiervoor binnen acht
  weken na afschrijving contact op met uw bank. Vraag
  uw bank naar de voorwaarden.</p>
  <hr/>
  <dl>
    <dt>Plaats van ondertekening:</dt>
    <dd><%= @collect_mandate.sign_location %></dd>
    <dt>Getekend op:</dt>
    <dd><%= @collect_mandate.signed_on%></dd>
    <dt>Handtekening</dt>
    <dd>
      <br/>
      <br/>
      ..........................................
    </dd>
  </dl>
</section>