<h1>Doorlopende SEPA-machtiging (automatische incasso)</h1>
<h2>Gemachtigde</h2>
<%= render partial: "organisation_address"%>

<dl>
  <dt>Incassant-ID</dt>
  <dd><%= Rails.application.config_for(:uitleen).dig(:finance, :collect_id)%></dd>
  <dt>Kenmerk</dt>
  <dd><%=@collect_mandate.sepa_proof_uuid || "Wordt in de volgende stap gegenereerd"%></dd>
</dl>

<h2>Machtiging gever</h2>

<dl>
  <dt>Naam:</dt>
  <dd><%=@customer.name%></dd>
  <dt>Factuuradres:</dt>
  <dd><%=simple_format @customer.invoice_address%>
</dd>
</dl>
<p>Door ondertekening van dit formulier geeft u
toestemming aan:</p>
<ul>
<li><strong>Heden</strong> om doorlopend incassoopdrachten te sturen naar uw bank om een bedrag
van uw rekening af te schrijven en</li>
<li><strong>uw bank</strong> om doorlopend een bedrag van uw rekening
af te schrijven overeenkomstig de opdracht van
Heden.
</li>
</ul>
<p>Als u het niet eens bent met deze afschrijving kunt u
deze laten terugboeken. Neem hiervoor binnen acht
weken na afschrijving contact op met uw bank. Vraag
uw bank naar de voorwaarden.</p>

<h2>Missende gegevens</h2>
<%= render partial: 'form'%>