<div data-turbo="false">
<h1>Connect</h1>
<%= button_to "Twinfield", "/auth/twinfield", method: :post if current_user&.admin? %>
<%= button_to "CentralLogin", "/auth/central_login", method: :post, params: { redirect_to: @redirect_to}%>
</div>