Geachte relatie,

Bijgesloten vindt u de factuur voor de gekochte kunstwerken en/of geleverde diensten.

<% unless @invoice.collect_mandate? %>
Wij zien uw betaling graag tegemoet.

<% end %>
Deze e-mail is automatisch gegenereerd. Indien u vragen heeft, neem contact op met info@heden.nl .

Met vriendelijke groeten,


Team Heden