[Unit]
Description=sidekiq for uitleen (<%=stage%>)
After=syslog.target network.target

[Service]
Type=notify
WatchdogSec=10
WorkingDirectory=<%=homedir%>/public/uitleen/current
ExecStart=<%=homedir%>/.rbenv/bin/rbenv exec bundle exec sidekiq -e <%=stage%>
# ExecReload=/bin/kill -TSTP $MAINPID
# ExecStop=/bin/kill -TERM $MAINPID
KillMode=process # mixed # hopefully fixes early exit of pdf generation step https://www.freedesktop.org/software/systemd/man/systemd.kill.html
Environment=MALLOC_ARENA_MAX=2
# ExecStartPre=/bin/bash -c 'mv <%=homedir%>/public/uitleen/shared/log/sidekiq.log /var/log/my/sidekiq.`date +%d`.log && mv <%=homedir%>/public/uitleen/shared/log/sidekiq.error.log /var/log/my/sidekiq.error.`date +%d`.log'
StandardOutput=file:<%=homedir%>/public/uitleen/shared/log/sidekiq.log
StandardError=file:<%=homedir%>/public/uitleen/shared/log/sidekiq.error.log
RestartSec=1
Restart=on-failure
SyslogIdentifier=sidekiq

[Install]
WantedBy=default.target