<section class="invoice">
  <%= render partial: "organisation_address"%>

  <p>KvK: <%= Rails.application.config_for(:uitleen).dig(:finance, :coc_id) %><br/>
    BTW: <%= Rails.application.config_for(:uitleen).dig(:finance, :vat_id) %><br/>
    Bank: <%= Rails.application.config_for(:uitleen).dig(:finance, :iban) %>
  </p>

  <% if invoice.customer %>
    <address><%=simple_format invoice.invoice_address%></address>
    <% if invoice.deliver_address != invoice.invoice_address %>
      <p>Afleveradres</p>
      <address><%=simple_format invoice.deliver_address%></address>
    <% end%>
    <dl>
    <dt>Opgebouwd spaartegoed</dt>
    <dd><%= number_to_currency invoice.customer_total_savings %></dd>
    <dt>Cadeaukaart tegoed</dt>
    <dd><%= number_to_currency invoice.customer_total_gift_card_credit %></dd>
    </dl>
  <% end %>

  <p><%=I18n.l(invoice.invoice_date, format: :long) if invoice.invoice_date%></p>
  <table>
    <thead>
      <tr><th class="number">Aantal</th><th>Beschrijving</th><th class="number">Stuksprijs<br/>(ex. btw)</th><th class="number">Stuksprijs<br/>(incl. btw)</th><th class="number">Totaal</th></tr>
    </thead>
    <tbody>
      <% invoice.invoice_items.each do |invoice_item| %>
        <tr>
          <td class="number"><%= invoice_item.quantity %></td>
          <td>
            <%= invoice_item.name%><br/>
            <em><%= invoice_item.invoicing_period_desc%></em><br/>
            <%= "Korting: #{invoice_item.discount_price_excl}" %><br/>
            <%= "Spaartegoed: #{invoice_item.savings_mutation}" %><br/>
            <%= "Cadeautegoed: #{invoice_item.gift_card_credit_mutation}" %>
          </td>
          <td class="number"><%= number_to_currency invoice_item.unit_price_ex_vat %></td>
          <td class="number"><%= number_to_currency invoice_item.unit_price %></td>
          <td class="number"><%= number_to_currency(invoice_item.total_price)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table>
    <thead>
      <tr><th>Btw</th><th>Bedrag</th></tr>
    </thead>
    <tbody>
      <%= render invoice.vat_lines %>
    </tbody>
  </table>

  <table>
    <tr><th>Totaal</th><td><%= number_to_currency invoice.total_price%></td></tr>
  </table>
  <p><%= invoice.footertext %></p>

  <% if invoice.collect_mandate? %>
    <p>Het openstaande bedrag zal binnenkort automatisch worden afgeschreven conform de machtiging. Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% else %>
    <p>Gelieve het bovenstaande bedrag van <%= number_to_currency invoice.total_price%> te voldoen voor <%=I18n.l(invoice.invoice_date, format: :long) if invoice.invoice_date%> onder vermelding van het factuurnummer <%=invoice.invoice_number%>.  Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% end%>
</section>