<div class="not-for-print">
  <% if @invoice.customer %>
    <%= link_to @invoice.customer.name, @invoice.customer  %> / <%= link_to "Klantfacturen", customer_invoices_path(@invoice.customer)%>
  <% end%>
</div>
<h1>Bewerk finale factuur <%= @invoice.invoice_number%></h1>
<p>Slechts beperkte wijzigingen zijn mogelijk; indien bedragen en/of items aangepast moeten worden, dient deze factuur gecrediteerd te worden en een nieuwe factuur uitgegeven te worden.</p>
<%= simple_form_for @invoice do |form| %>
<%= form.input :po_number%>
<%= form.input :reference %>
<%= form.input :footertext  %>
<%= form.submit %>
<% end %>