<%= link_to @customer.name, @customer if @customer%>
<h1>Facturen</h1>
<% if @customer %>
<p>Dit is een overzicht van aangemaakte facturen voor deze klant.</p>
<% end %>

<% if page_scope? %>
<nav role="invoice-selections">
  <ul>
    <li><%= menu_link_to "Recent & niet definitief", global_or_customer_invoices_path(scope: "recent")%></li>
    <% if can?(:index_upcoming, Invoice) %>
    <li><%= menu_link_to "Controleren of gepauseerd", global_or_customer_invoices_path(scope: "check")%></li>
    <li><%= menu_link_to "Gepland", global_or_customer_invoices_path(scope: "tobe")%></li>
    <% end %>
    <li><%= menu_link_to "Definitief", global_or_customer_invoices_path(scope: "final")%></li>
  </ul>
</nav>
<% end %>

<% if page_scope?(:recent) %>
<h2>Recent aangemaakte, niet definitieve facturen</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <% if !@customer %>
        <th>Klant</th>
      <% end %>
      <th>Datum</th>
      <th>Bedrag</th>
      <th>Volgende factuur op</th>
    </tr>
  </thead>
  <tbody>
    <% @open_invoices.each do |invoice| %>
    <% if invoice.invoice_items.count > 0 || invoice.customer %>
      <tr>
        <td><%= link_to (invoice.invoice_number || "-"), invoice.finalized? ? invoice_path(invoice) : draft_invoice_path(invoice.id) %></td>
        <% if !@customer%>
          <td><%= link_to(invoice.customer.name, invoice.customer) if invoice.customer %></td>
        <% end %>
        <td><%= I18n.l((invoice.finalized_at&.to_date || invoice.updated_at&.to_date), format: :short) %> <%= "Definitief" if invoice.finalized? %>
        <td data-sortkey="<%=invoice.total_price%>"><%= number_to_currency invoice.total_price %></td>
        <td data-sortkey="<%=invoice.next_invoice_at%>"><%= I18n.l(invoice.next_invoice_at, format: :short) if invoice.next_invoice_at%> <% if invoice.on_hold?%>On hold<% end %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<% if can?(:index_upcoming, Invoice) %>
<% if page_scope?(:check) %>

<h2>Te controleren</h2>
<p>Facturen die gecontroleerd dienen te worden.</p>
<table class="sortable">
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <% if !@customer %>
        <th>Klant</th>
      <% end %>
      <th>Datum</th>
      <th class="number">Bedrag</th>
      <th>Aangemaakt op</th>
    </tr>
  </thead>
  <tbody>
    <% @review_invoices.each do |invoice| %>
      <tr>
        <td><%= link_to (invoice.invoice_number || invoice.import_id || "-"), invoice.finalized? ? draft_invoice_path(invoice, preview: true) : draft_invoice_path(invoice.id) %></td>
        <% if !@customer %>
          <td><%= link_to(invoice.customer.name, invoice.customer) if invoice.customer %></td>
        <% end %>
        <td><%= I18n.l((invoice.finalized_at&.to_date || invoice.updated_at&.to_date), format: :short) %> <%= "Definitief" if invoice.finalized? %>
        <td data-sortkey="<%=invoice.total_price%>" class="number"><%= number_to_currency invoice.total_price %></td>
        <td data-sortkey="<%=invoice.created_at%>"><%= I18n.l(invoice.created_at, format: :short) if invoice.next_invoice_at%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<h2>Deze maand gepauseerde facturen</h2>
<p>Onderstaande facturen zouden automatisch gefactureerd worden, maar staan op pauze. Hierdoor worden deze (en de daarop volgende facturen) niet meer automatisch verstuurd.</p>
<table class="sortable">
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <% if !@customer %>
        <th>Klant</th>
      <% end %>
      <th>Datum</th>
      <th class="number">Bedrag</th>
      <th>Volgende factuur op</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_invoices_on_hold.each do |invoice| %>
      <tr>
        <td><%= link_to (invoice.invoice_number || invoice.import_id || "-"), invoice.finalized? ? invoice_path(invoice, preview: true) : draft_invoice_path(invoice.id) %></td>
        <% if !@customer %>
          <td><%= link_to(invoice.customer.name, invoice.customer) if invoice.customer %></td>
        <% end %>
        <td><%= I18n.l((invoice.finalized_at&.to_date || invoice.updated_at&.to_date), format: :short) %> <%= "Definitief" if invoice.finalized? %>
        <td data-sortkey="<%=invoice.total_price%>" class="number"><%= number_to_currency invoice.total_price %></td>
        <td data-sortkey="<%=invoice.next_invoice_at%>"><%= I18n.l(invoice.next_invoice_at, format: :short) if invoice.next_invoice_at%></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if page_scope?(:tobe) %>

<h2>Binnenkort te vernieuwen facturen</h2>
<table class="sortable">
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <% if !@customer %>
        <th>Klant</th>
      <% end %>
      <th>Datum</th>
      <th class="number">Bedrag</th>
      <th>Volgende factuur op</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_invoices_not_on_hold.each do |invoice| %>
      <tr>
        <td><%= link_to (invoice.invoice_number || invoice.import_id || "-"), invoice.finalized? ? invoice_path(invoice, preview: true) : draft_invoice_path(invoice.id) %></td>
        <% if !@customer %>
          <td><%= link_to(invoice.customer.name, invoice.customer) if invoice.customer %></td>
        <% end %>
        <td><%= I18n.l((invoice.finalized_at&.to_date || invoice.updated_at&.to_date), format: :short) %> <%= "Definitief" if invoice.finalized? %>
        <td data-sortkey="<%=invoice.total_price%>" class="number"><%= number_to_currency invoice.total_price %></td>
        <td data-sortkey="<%=invoice.next_invoice_at%>"><%= I18n.l(invoice.next_invoice_at, format: :short) if invoice.next_invoice_at%></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% end%>

<% if page_scope?(:final) %>
<h2>Definitief aangemaakte facturen</h2>
<p>Toont facturen aangemaakt tot <%= distance_of_time_in_words_to_now @period %> terug.</p>
<table class="sortable">
  <thead>
    <tr>
      <th>Factuurnummer</th>
      <% if !@customer %>
        <th>Klant</th>
      <% end %>
      <th>Datum</th>
      <th class="number">Bedrag</th>
      <th>Volgende factuur op</th>
    </tr>
  </thead>
  <tbody>
    <% @finalized_invoices.each do |invoice| %>
      <tr>
        <td><%= link_to (invoice.invoice_number || invoice.import_id || "-"), invoice.finalized? ? invoice_path(invoice) : draft_invoice_path(invoice.id) %></td>
        <% if !@customer %>
          <td><%= link_to(invoice.customer.name, invoice.customer) if invoice.customer %></td>
        <% end %>
        <td><%= I18n.l((invoice.finalized_at&.to_date || invoice.updated_at&.to_date), format: :short) %> <%= "Definitief" if invoice.finalized? %>
        <td data-sortkey="<%=invoice.total_price%>" class="number"><%= number_to_currency invoice.total_price %></td>
        <td data-sortkey="<%=invoice.next_invoice_at%>"><%= I18n.l(invoice.next_invoice_at, format: :short) if invoice.next_invoice_at%> <% if invoice.on_hold?%>On hold<% end %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>