<%= link_to @invoice.customer.name, @invoice.customer if @invoice&.customer %> | <%= link_to "Factuur #{@invoice.invoice_number}", invoice_path(@invoice) if @invoice %>

<h1>Oorspronkelijke data</h1>

<%= render_hash @invoice.old_data%>