<style>
  @import url('<%= "#{Rails.application.config.action_controller.asset_host}/static/heden/heden-print.css"%>');
</style>
<%= render partial: 'twinfield/sales_invoices/sales_invoice', locals: {sales_invoice: @sales_invoice} %>
<hr class="page"/>
<% if @uitleen_invoice.offer_invoice_specification? %>
<%= render partial: 'twinfield/sales_invoices/specification', locals: {sales_invoice: @sales_invoice, invoice: @uitleen_invoice} %>

<% end %>