<div class="not-for-print">
  <% if @invoice.customer %>
    <%= link_to @invoice.customer.name, @invoice.customer  %> / <%= link_to "Klantfacturen", customer_invoices_path(@invoice.customer)%>
  <% end%>
</div>

<% if @sales_invoice  %>
  <div class="not-for-print">
    <nav role="actions">
      <ul>
        <li><%= link_to "Afdrukken", "javascript:window.print();", class: [:secondary, :button]%></li>
        <li><%= link_to "Bewerken", edit_invoice_path(@invoice), class: [:secondary, :button]%></li>

        <% if @sales_invoice.final? && @invoice.finalized? %>
          <li><%= link_to "Download", invoice_path(@invoice, format: :pdf), class: [:secondary, :button], download: "Factuur #{@sales_invoice.invoicenumber}.pdf"%></li>
          <% if @invoice.pdf.present? %>
            <li><%= link_to "Vernieuw & Download", invoice_path(@invoice, format: :pdf, force_new: true), class: [:secondary, :button], download: "Factuur #{@sales_invoice.invoicenumber}.pdf", data: {confirm: "Weet je zeker dat je de factuur opnieuw wilt laten genereren?"} %></li>
          <% end %>
        <% end %>

        <% unless (@invoice.credit_invoice? || @invoice.credited?) %>
          <li><%= button_to "Maak creditfactuur", invoices_path, class: [:secondary, :button], method: :post, params: {invoice: {credits_invoice_id: @invoice.id}}%></li>
        <% end %>
        <% if @invoice.open_value.to_f != 0  %>
          <li><%= button_to "Betaald met PIN", register_payment_invoice_path(@invoice), params: {payment_type: :pin} if Rails.application.config_for(:uitleen)[:payment_transactions][:pin][:code].present?  %></li>
          <li><%= button_to "Betaald met KAS", register_payment_invoice_path(@invoice), params: {payment_type: :cash} %></li>
        <% end%>
      </ul>
    </nav>
    <h1>Factuur <%= (@sales_invoice || @invoice).invoicenumber%></h1>
    <% if @sales_invoice %>
      <dl>
        <dt>Factuurstatus</dt>
        <dd><%= I18n.t @sales_invoice.status, scope: :status %>
        <% if  @sales_invoice.status == "concept" && @sales_invoice.invoicenumber %>
            <%= button_to "Maak definitief", draft_invoice_finalize_invoice_path(@invoice), method: :patch%>
          </dd>
        <% else %>
          </dd>
          <dt>Klant</dt><dd><%= link_to @invoice.customer.name, @invoice.customer %></dd>
          <% if @invoice.transaction %>
          <dt>Transactie-status</dt><dd><%= I18n.t @invoice.transaction&.status, scope: :status %> <% if @invoice.paid? %> (Betaald)<% end %></dd>
          <% if @invoice.transaction&.open_value %>
            <dt>Openstaand</dt><dd><%= number_to_currency @invoice.transaction&.open_value%></dd>
          <% end %>
          <% end %>
        <% end%>
      </dl>
    <% end %>
  </div>

  <% if @sales_invoice.invoicenumber %>
    <div class="print-preview">
      <%= render partial: 'twinfield/sales_invoices/sales_invoice', locals: {sales_invoice: @sales_invoice} %>
    </div>
  <% else %>
    <p class="notice">Let op: Dit is een kopiefactuur die niet zoals hieronder ingeboekt is in het boekhoudpakket.</p>
    <div class="print-preview">
      <%= render @invoice %>
    </div>
  <% end %>
  <% if @invoice.offer_invoice_specification? %>
    <p><%= link_to "Toon specificatie", invoice_specification_path(@invoice)%></p>
  <% end %>

<% else %>
  <div class="not-for-print">
    <h1>Factuur niet in boekhoudpakket</h1>
    <p>Deze factuur is niet gegenereerd in de uitleen applicatie of het aangesloten boekhoudpakket.</p>
  </div>
  <div class="print-preview">
    <%= render @invoice%>
  </div>
<% end %>

<div class="not-for-print">

<% if @invoice.next_invoice&.finalized? %>
    <p>Er is reeds <%= link_to "een definitieve vervolgfactuur", @invoice.next_invoice%> aangemaakt.</p>
<% elsif @invoice.next_invoice_date && @invoice.initialize_next_invoice %>
  <p>Volgende verwachte factuurdatum is <%= I18n.l @invoice.next_invoice_date, format: :short %>. <% if !params[:preview] %><%= link_to "Toon voorvertoning", invoice_url(@invoice, params: {preview: true}) %><% end %></p>

  <% if params[:preview]%>
    <h2>Voorvertoning volgende factuur</h2>
      Onderstaande factuur (nog in voorvertoning) zal automatisch worden verstuurd op <%= I18n.l @invoice.next_invoice_date, format: :short %>.
      <%= button_to "Stel verzending vervolgfactuur uit", on_hold_invoice_path(@invoice), method: :patch%></p>
    <div class="print-preview">
      <%= render @invoice.initialize_next_invoice%>
    </div>
  <% end%>
<% elsif  @invoice.next_invoice_date and @invoice.next_invoice %>
  <p>Er is reeds <%= link_to "een concept vervolgfactuur", draft_invoice_path(@invoice.next_invoice)%> aangemaakt.</p>
<% elsif @invoice.next_invoice_date%>
  <p>Een volgende factuur werd verwacht op <%= I18n.l @invoice.next_invoice_date, format: :short %>, maar er zijn geen actieve uitleenacties meer.</p>
<% elsif @invoice.on_hold_at && @invoice.next_invoice_at  %>
    <p>
      De verzending van de vervolgfactuur staat momenteel on hold, en een vervolgfactuur zal dus niet automatisch worden verstuurd.
      <% if @invoice.next_invoice_at > 5.days.ago %>
      <%= button_to "Stel verzending vervolgfactuur niet langer uit", on_hold_invoice_path(@invoice), method: :patch%>
      <% else %>
      <p>Deze factuur is al meer dan 5 dagen na geplande datum uitgesteld.</p>
      <% end %>
      <%= button_to("Maak factuur in concept aan en pas aan", invoices_path, class: [:secondary, :button], method: :post, params: {invoice: {manually_create_next_for_invoice_id: @invoice.id}}) unless @invoice.next_invoice? %>
    </p>

    </p>
<% end %>

<% if @invoice.credited_by_invoice %>
  <p>Deze factuur is (gedeeltelijk) gecrediteerd. <%= link_to "Open de creditfactuur", @invoice.credited_by_invoice %></p>
<% end %>

<h2>Werken op de factuur</h2>
<ul>
<% @invoice.works.each do |work| %>
<li><%= link_to work.to_invoice_line_description_string, work_path(work) %></li>
<% end %>
</ul>

</div>
<% if @invoice&.old_data.present? %>
  <div class="not-for-print">
    <% if params[:debug]  %>
      <p>Totaal oorspronkelijke bedrag: <%= @invoice.old_data["factuurbed"]%></p>
      <p>Samenvatting regels:</p>
      <%= render_hash @invoice.old_data["factuur_regels"].collect{|a| {kunstwerknr: a["kunstwerkn"], aantal: a["aantal"], btw_afdr_h: a["btw_afdr_h"], btw_code: a["btwcode"], prijs_per: a["prijs_per_"]} }%>
      <p>Volledige factuur:</p>
      <%= render_hash @invoice.old_data%>
    <% else %>
      <%= link_to "Oorspronkelijke data", invoice_old_data_path(@invoice)%>
    <% end %>
  </div>
<% end%>