<div class="not-for-print">
  <% if @invoice.customer %>
    <%= link_to @invoice.customer.name, @invoice.customer  %> / <%= link_to "Klantfacturen", customer_invoices_path(@invoice.customer)%> / <%= link_to "Factuur", invoice_path(@invoice)%>
  <% end%>
</div>

<% if @sales_invoice  %>
  <div class="not-for-print">
    <nav role="actions">
      <ul>
        <li><%= link_to "Afdrukken", "javascript:window.print();", class: [:secondary, :button]%></li>
        <% if @sales_invoice.final? && @invoice.finalized? %>
          <li><%= link_to "Download", invoice_path(@invoice, format: :pdf), class: [:secondary, :button], download: "Factuur #{@sales_invoice.invoicenumber}.pdf"%></li>
          <li><%= link_to "Vernieuw & Download", invoice_path(@invoice, format: :pdf, force_new: true), class: [:secondary, :button], download: "Factuur #{@sales_invoice.invoicenumber}.pdf", data: {confirm: "Weet je zeker dat je de factuur opnieuw wilt laten genereren?"} if @invoice.pdf.present? %></li>
        <% end %>
      </ul>
    </nav>
    <h1>Factuur <%= (@sales_invoice || @invoice).invoicenumber%></h1>
    <dl>
      <dt>Factuurstatus</dt>
      <dd><%= I18n.t @sales_invoice.status, scope: :status %></dd>
      <dt>Klant</dt><dd><%= link_to @invoice.customer.name, @invoice.customer %></dd>
    </dl>
  </div>

  <% if @sales_invoice.invoicenumber %>
    <div class="print-preview">
      <%= render partial: 'twinfield/sales_invoices/specification', locals: {sales_invoice: @sales_invoice, uitleen_invoice: @sales_invoice.uitleen_invoice} %>
    </div>
  <% else %>
    <p class="notice">Let op: Dit is een kopiefactuur die niet zoals hieronder ingeboekt is in het boekhoudpakket.</p>
    <div class="print-preview">
      <%= render @invoice %>
    </div>
  <% end %>

<% else %>
  <div class="not-for-print">
    <h1>Factuur niet in boekhoudpakket</h1>
    <p>Deze factuur is niet gegenereerd in de uitleen applicatie of het aangesloten boekhoudpakket.</p>
  </div>
  <div class="print-preview">
    <%= render @invoice%>
  </div>
<% end %>


