
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.to_a.to_sentence if f.object.errors.present? %>

  <div class="form-inputs">
    <%= f.input :external_article_code, required: true %>
    <%= f.input :external_article_subcode, required: false %>
    <%= f.input :name %>
    <%= f.input :vat_rate, as: :float %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
