<h1>Artikelen</h1>


<ul>
  <% @articles.each do |article| %>
  <li><%= link_to article.name, article%></li>
  <% end %>
</ul>

<p>Let op: Artikelen zijn middels een externe artikelcode (en eventueel een artikelsubcode) geregistreerd in het boekhoudpakket. De Btw tarieven zijn er enkel voor een eerste berekening, de waarheid staat in het boekhoudpakket.</p>

<%= link_to "Voeg artikel toe", new_article_path %>
