<h1><%= @article.name%></h1>

<dl id="<%= dom_id @article %>">
  <dt>Externe artikelcode:</dt>
  <dd><%= [@article.external_article_code, @article.external_article_subcode].join("/") %></dd>
  <dt>Btw-tarief (informatief)</dt>
  <dd><%= @article.vat_rate %>%</dd>
</dl>


<div>
  <%= link_to "Bewerk", edit_article_path(@article) %> |
  <%= button_to "Verwijder dit artikel", @article, method: :delete %>
</div>
