<h1>Werken</h1>
<form class="">
  <div class="search">
    <input type="search" name="q" value="<%=params[:q]%>"/>
    <input type="submit" value="Zoek "/>
  </div>
  <div class="search-options">
    <label><input type="checkbox" name="filter_available" <% if @filter_available %>checked="checked"<% end %> /> Alleen Beschikbaar</label>

    </div>
</form>
<ul class="works cards">
  <% @works.each do |work| %>
    <%= render partial: 'collection_management/works/work', locals: {work: work} %>
  <% end %>
</ul>