<header class="work">
  <nav role="actions">
    <ul>
      <li><strong><%=I18n.t @work.availability_status_extended, scope: :status %></strong> <% if @work.current_active_time_span&.customer %>(<%= link_to @work.current_active_time_span.customer.name, @work.current_active_time_span.customer %>)<% end %></li>
      <% if @work.available || @work.reserved? %>
        <% if !draft_invoice.work_in_invoice_items?(@work) %>
          <% if @work.selling_price.to_i == 0 %>
            <li><%= link_to "Geen verkoopprijs", collection_management_collection_work_url(@work.collection_id, @work)%></li>
          <% else %>
            <li><%= button_to "Voeg toe als koop", draft_invoice_url(draft_invoice), method: :patch, params: {invoice: {new_intent_attributes: {work_id: @work.id, intent: :purchase}}} if @work.for_purchase %></li>
            <li><%= button_to "Voeg toe als huur", draft_invoice_url(draft_invoice), method: :patch, params: {invoice: {new_intent_attributes: {work_id: @work.id, intent: :rent}}} if @work.for_rent %></li>
          <% end%>
        <% else%>
          <li><%= link_to "Werk staat in klantsessie", draft_invoice_path(draft_invoice)%></li>
        <% end %>
      <% elsif @work.lent? %>
        <li><%= link_to "Verwerk retour", new_collection_work_return_path(@work.collection_id, @work) %></li>
      <% end %>
      <li><%= link_to "Reserveringen (#{@reservations_count})", collection_work_reservations_path(@work.collection_id, @work) if @reservations_count > 0 %></li>
      <li><%= link_to "Reserveer werk", new_collection_work_reservation_path(@work.collection_id, @work) unless @work.availability_status == :sold %></li>
    </ul>
  </nav>
  <h1><%=@work.title_rendered%> <%= "(#{@work.object_creation_year})" if @work.object_creation_year%></h1>
  <p><%= @work.artist_name_rendered%>        </p>
  <p class="stock_number"><%= @work.stock_number%></p>
  <p><%= @work.techniques.map(&:name).to_sentence %><br/><%= @work.work_size || @work.frame_size%></p>

<% if @work.photo_front %>
  <img src="<%= @work.photo_front["original"] %>" alt="Photo front">
<% end %>
</header>

<p>
  <% if @work.photo_back %>
    <img src="<%= @work.photo_back["original"] %>" alt="">
  <% end %>
</p>
<div>
  <%= definition_list_for @work, {render_as: :table} do %>
    <tr><th>Beschikbaarheid</th><td><%=I18n.t @work.availability_status, scope: :status %> <% if @work.current_active_time_span&.customer %>(<%= link_to @work.current_active_time_span.customer.name, @work.current_active_time_span.customer %>)<% end %></td></tr>
    <%= define_unless_blank :for_purchase %>
    <%= define_unless_blank :for_rent %>

    <tr><td>&nbsp;</td></tr>
    <%= define_unless_blank :location %>
    <%= define_unless_blank :location_floor %>
    <%= define_unless_blank :location_detail %>
    <%= define_unless_blank :work_status %>
    <!-- <tr><td>&nbsp;</td></tr>
    <%= define_unless_blank :alt_number_1 %> <%#, description: Work.human_attribute_name_overridden(:alt_number_1, work.collection)%>
    <%= define_unless_blank :alt_number_2 %> <%#, description: Work.human_attribute_name_overridden(:alt_number_2, work.collection)%>
    <%= define_unless_blank :alt_number_3 %> <%#, description: Work.human_attribute_name_overridden(:alt_number_3, work.collection)%> -->
    <tr><td>&nbsp;</td></tr>
    <%= define_unless_blank :object_creation_year, description: 'Datering' %>
    <%= define_unless_blank :object_categories %>
    <%= define_unless_blank :techniques %>
    <%= define_unless_blank :medium %>
    <%= define_unless_blank :frame_type %>
    <tr><td>&nbsp;</td></tr>
    <%= define_unless_blank :object_format_code, {modifier: :upcase} %>
    <%= define_unless_blank :work_size, {description: "Afm. beeld (cm)"} %>
    <%= define_unless_blank :frame_size, {description: "Afm. lijst (cm)"}  %>
    <%= define_unless_blank :abstract_or_figurative_rendered %>
    <%= define_unless_blank :style %>
    <%= define_unless_blank :subset %>
    <%= define_unless_blank :collection_name_extended %>
    <%= define_unless_blank :themes %>
    <%= define_unless_blank :locality_geoname_name %>
    <%= define_unless_blank :cluster %>
    <%= define_unless_blank :print_rendered  %>

    <tr><td>&nbsp;</td></tr>

    <%= define_unless_blank :cached_tag_list %>
    <%= define_unless_blank :condition_work_rendered %>
    <%= define_unless_blank :condition_frame_rendered %>
    <%= define_unless_blank :placeability %>
    <%= define_unless_blank :main_collection %>
    <%= define_unless_blank :grade_within_collection %>
    <%= define_unless_blank :sources %>
    <%= define_unless_blank :source_comments %>
    <%= define_unless_blank :owner %>

    <tr><td>&nbsp;</td></tr>
    <%= define_unless_blank :selling_price, modifier: :number_to_currency %>
    <%= define_unless_blank :default_rent_price, modifier: :number_to_currency %>
    <%= define_unless_blank :business_rent_price_ex_vat, modifier: :number_to_currency %>
  <% end %>
</div>

<p><%= link_to "Bekijk dit werk in CollectieManagement", collection_management_collection_work_url(@work.collection_id, @work)%>