<article class="time_span">
  <p class="meta">
    <%= link_to customer_time_span_path(@customer, time_span) do %>
      <% if time_span.reservation? %>
        <%= I18n.t time_span.status, scope: :status %>   <%= I18n.t(time_span.classification, scope: "activerecord.values.time_span.classification").downcase%> <%= I18n.l time_span.starts_at, format: :short if time_span.starts_at %> - <%= I18n.l time_span.ends_at, format: :short if time_span.ends_at %></p>
      <% elsif time_span.classification == "rental_outgoing"%>
        <%= I18n.t time_span.status, scope: :status %> <%= I18n.l time_span.starts_at, format: :short if time_span.starts_at %> - <%= I18n.l time_span.ends_at, format: :short if time_span.ends_at %></p>
      <% else %>
        <%= I18n.t time_span.classification, scope: "activerecord.values.time_span.classification"%>
        <%= I18n.t time_span.status, scope: :status %> <%= I18n.l time_span.starts_at, format: :short if time_span.starts_at %> - <%= I18n.l time_span.ends_at, format: :short if time_span.ends_at %></p>
      <% end %>
    <% end %>
  <%= render time_span.subject %>
</article>