
<%= simple_form_for(@draft_invoice, url: draft_invoice_url(@draft_invoice)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.to_a.to_sentence if f.object.errors.present? %>


  <fieldset class="form-inputs">
    <%= f.input :rental_type, collection: Invoice::RENTAL_TYPES.collect{|a| [I18n.t(a, scope: "activerecord.values.invoice.rental_type"), a]}.to_h, include_blank: false %>
    <%= f.input :use_customer_savings_for_purchase %>
    <%= f.input :recurrence_interval_in_months %>
    <%= f.input :requires_review, as: :boolean%>
  </fieldset>
  <fieldset>
    <p>De startdatum wordt hiermee overschreven.</p>
    <%= f.input :invoice_item_start_date_reset, as: :date, html5: true %>
  </fieldset>
  <fieldset class="form-inputs">

    <%= f.input :reference %>
    <%= f.input :po_number %>
    <%= f.input :footertext %>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
