
<%= simple_form_for(@draft_invoice, url: draft_invoice_url(@draft_invoice)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.to_a.to_sentence if f.object.errors.present? %>


  <div class="form-inputs">
    <%= f.input :mutation_form %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
