<p id="notice"><%= notice %></p>

<h1>Draft Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Footertext</th>
      <th>Created by user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @draft_invoices.each do |draft_invoice| %>
      <tr>
        <td><%= draft_invoice.customer&.name %></td>
        <td><%= draft_invoice.footertext %></td>
        <td><%= draft_invoice.created_by_user_id %></td>
        <td><%= link_to 'Show', draft_invoice_url(draft_invoice.id) %></td>
        <td><%= link_to 'Edit', edit_draft_invoice_path(draft_invoice.id) %></td>
        <td><%= link_to 'Destroy', draft_invoice_url(draft_invoice.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Draft Invoice', new_draft_invoice_path %>
