<div class="not-for-print">
<h1>Baliemutatie voor <%= @draft_invoice.customer&.name %></h1>
<p>Print deze pagina, laat de klant deze pagina ondertekenen en upload deze vervolgens hier (of ); de printweergave van deze pagina verbergt deze toelichting formuliervelden.</p>
<% if @draft_invoice.mutation_form.present? %><%= link_to "Download mutatieformulier", url_for(@draft_invoice.mutation_form)%><% end %>
<%= render partial: "mutation_form"%>
<hr />

  <nav role="actions">
    <ul>
      <li><%= link_to "Afdrukken", "javascript:window.print();", class: [:secondary, :button]%></li>
    </ul>

  </nav>

</div>

<div class="print-preview">
<section class="invoice">
  <%= render partial: "organisation_address"%>


  <% if @draft_invoice.customer %>
    <address><%=simple_format @draft_invoice.customer.invoice_address%></address>
  <% end %>

  <p><%=I18n.l(@draft_invoice.invoice_date, format: :long) if @draft_invoice.invoice_date%></p>

  <h2>Te huren werken</h2>
  <ul class="works cards">
    <%= render @draft_invoice.invoice_items.rent %>
  </ul>

  <hr />
  <p>Handtekening voor akkoord:
<br/>
<br/>
<br/>
<br/>
<%=@draft_invoice.customer.name%>

</p>

</section>
