<nav role="actions">
  <ul>
    <% if can?(:destroy, @draft_invoice) %>
      <li><%= button_to "Verwijder", draft_invoice_path(@draft_invoice), method: :delete, data: {confirm: "Weet je zeker dat je deze concept factuur wilt verwijderen"}, class: [:button, :alert] %></li>


    <% end %>
        <% if @draft_invoice.finalized?%>
    <% elsif @draft_invoice.requires_review? %>
      <li><%= link_to "Bewerk", edit_draft_invoice_path(@draft_invoice)%></li>
      <li><%= button_to "Keur goed", draft_invoice_reviewed_path(@draft_invoice), method: :patch%></li>
    <% elsif @draft_invoice.invoice_number %>
      <li><%= link_to "Bewerk", edit_draft_invoice_path(@draft_invoice)%></li>
      <li><%= link_to "Mutatieformulier", draft_invoice_mutation_form_path(@draft_invoice)%></li>
      <li><%= button_to "Maak definitief", draft_invoice_finalize_invoice_url(@draft_invoice), method: :patch %></li>
    <% elsif !@draft_invoice.invoice_number && @draft_invoice.customer && @draft_invoice.invoice_items.count > 0 %>
      <li><%= link_to "Bewerk", edit_draft_invoice_path(@draft_invoice)%></li>
      <li><%= button_to "Maak factuurberekening", draft_invoice_create_invoice_url(@draft_invoice), method: :patch %></li>
    <% else %>
      <li><%= link_to "Bewerk", edit_draft_invoice_path(@draft_invoice)%></li>
    <% end %>

  </ul>
</nav>
<h1>Opdracht</h1>
<div class="u-columns">
<div class="intent">
<h2>Klant</h2>
<% if @draft_invoice.customer %>
  <%= link_to @draft_invoice.customer&.name, @draft_invoice.customer %>
<% else %>
  <p><%= link_to "Zoek of maak een klant", customers_path%></p>
<% end %>
<h2>Aan te kopen werken</h2>

<% if @draft_invoice.purchase_invoice_items.works.empty? %>
  <p>Geen, <%= link_to "zoek een werk", collections_path%></p>
<% else %>
  <ul class="works cards" data-controller="draft-invoice-invoice_items">
    <% @draft_invoice.purchase_invoice_items.works.each do |intent| %>
        <%= render intent %>
    <% end %>
  </ul>
  <p><%= link_to "Zoek nog een werk", collections_path%> om te verkopen</p>

<% end %>

<h2>Te huren werken</h2>
<% if @draft_invoice.rent_invoice_items.works.empty? %>
  <p>Geen, <%= link_to "zoek een werk", collections_path%></p>
<% else %>
  <ul class="works cards">
    <% @draft_invoice.rent_invoice_items.works.each do |intent| %>
      <%= render intent %>
    <% end %>
  </ul>
  <p><%= link_to "Zoek nog een werk", collections_path%> om te verhuren</p>

<% end %>
<h2>Verder te factureren</h2>
<% if @draft_invoice.non_work_invoice_items.empty? %>
<p>Geen, voeg <%= link_to "een cadeaubon", new_draft_invoice_invoice_item_path(@draft_invoice, params: {invoiceable_type: "GiftCard"})%> of <%= link_to "een andere regel", new_draft_invoice_invoice_item_path(@draft_invoice)%> toe.</p>
<% else %>
<ul>
  <% @draft_invoice.non_work_invoice_items.each do |oii| %>
    <li><%= render oii%></li>
  <% end %>
</ul>
<p>Voeg <%= link_to "een cadeaubon", new_draft_invoice_invoice_item_path(@draft_invoice, params: {invoiceable_type: "GiftCard"})%> of <%= link_to "een andere regel", new_draft_invoice_invoice_item_path(@draft_invoice)%> toe.</p>
<% end%>
<% unless @draft_invoice.finalized? %>
<h2>Verder</h2>
<dl>
  <dt><%= I18n.t :use_customer_savings_for_purchase, scope: "activerecord.attributes.invoice" %></dt>
  <dd><%= I18n.t @draft_invoice.use_customer_savings_for_purchase, scope: "bool" %> <% if @draft_invoice.customer %>(<%= number_to_currency @draft_invoice.customer.total_savings %> beschikbaar)<% end %></dd>
  <dt><%= I18n.t :rental_type, scope: "activerecord.attributes.invoice" %></dt>
  <dd><%= I18n.t @draft_invoice.rental_type, scope: "activerecord.values.invoice.rental_type" %></dd>
  <dt><%= I18n.t :reference, scope: "activerecord.attributes.invoice" %></dt>
  <dd><%= @draft_invoice.reference || 'geen' %></dd>
  <% if @draft_invoice.recurrence_interval_in_months %>
    <dt><%= I18n.t :recurrence_interval_in_months, scope: "activerecord.attributes.invoice" %></dt>
    <dd><%= I18n.t :x_months, count: @draft_invoice.recurrence_interval_in_months, scope: "datetime.distance_in_words" %></dd>
  <% end %>
  <% if @draft_invoice.invoiceable_item_collection %>
    <dt><%= I18n.t :invoiceable_item_collection, scope: "activerecord.attributes.invoice" %></dt>
    <dd>
      <%= link_to "Werkgroepering", collection_management_work_set_url(@draft_invoice.invoiceable_item_collection) %>
      <%= button_to "Ververs", draft_invoice_refresh_path(@draft_invoice), method: :patch, data: {confirm: "Alle werken worden van de factuur verwijderd en de prijzen en kortingen worden opnieuw ingesteld conform de selectie in de werkgroepering. Weet je zeker dat je verder wilt gaan?"} %>
    </dd>
  <% end %>
</dl>
<h3>Opmerkingen</h3>
<p><small>Deze opmerkingen komen op de factuur te staan (<%= link_to "Bewerk", edit_draft_invoice_path(@draft_invoice)%>)</small></p>
<% end %>
<%= simple_format @draft_invoice.footertext %>

</div>
<div class="preview">
  <h2>Concept-factuur</h2>
  <% if @invoice_error %>
  <p class="alert hide-for-print"><%= @invoice_error %></p>

  <% end %>
  <% if @twinfield_invoice %>
    <%= render @twinfield_invoice %>
    <br/>
    <% if @draft_invoice.offer_invoice_specification? %>
    <%= render partial: 'twinfield/sales_invoices/specification', locals: {sales_invoice: @twinfield_invoice, uitleen_invoice: @twinfield_invoice.uitleen_invoice} %>
    <% end %>
  <% else %>
    <p>Voorlopige berekeningen</p>
    <%= render @draft_invoice  %>
  <% end%>
</div>
