<dl>
<%#= dt_dd_for_hash_when_set(@customer.twinfield_raw, :name)%>
<% if @customer.business? %>
<dt>Contactpersoon</dt><dd><%=@customer.individual_name%></dd>
<% end %>
<%= dt_dd_for_hash_when_set(@customer.twinfield_raw, :website)%>
<%= dt_dd_for_hash_when_set(@customer.twinfield_raw, :cocnumber)%>
</dl>
<h2>Financieel</h2>
<dl>
  <% if @customer.email%>
    <dt>Factuur e-mail</dt>
    <dd><%= link_to @customer.email, "mailto:#{@customer.email}"%></dd>
  <% end %>
<%= dt_dd_for_hash_when_set(@customer.twinfield_raw[:financials], :ebilling) if @customer.twinfield_raw %>
<dt><%= Customer.human_attribute_name(:auto_finalize_invoices)%></dt>
<dd><%= humanize_value @customer.auto_finalize_invoices %></dd>
<dt>Opgebouwd spaartegoed</dt>
<dd><%= number_to_currency @customer.total_savings %></dd>
<dt>Cadeaukaart tegoed</dt>
<dd><%= number_to_currency @customer.total_gift_card_credit %></dd>
</dl>
<h3>Automatische incasso</h3>
<% if @customer.twinfield_raw && @customer.twinfield_raw[:financials][:collectmandate]&.[](:signaturedate) %>
  <dl>
  <%= dt_dd_for_hash_when_set(@customer.twinfield_raw[:financials][:collectmandate], :id)  %>
  <%= dt_dd_for_hash_when_set(@customer.twinfield_raw[:financials][:collectmandate], :signaturedate)  %>
  </dl>
  <% if @customer.collect_mandate&.signed_document.present?%>
    <%=link_to "Download opgeslagen mandaat", url_for(@customer.collect_mandate.signed_document)%>
  <% end %>
<% elsif defined?(current_user) && current_user %>
  <%= link_to "Configureer automatische incasso", new_customer_collect_mandate_path(@customer), class: [:button, :secondary, :small]%>
<% end %>
<% if @customer.twinfield_raw && @customer.twinfield_raw[:banks].any? %>
  <h3>Bank</h3>
  <% @customer.twinfield_raw[:banks].each do |bank| %>
    <dl>
    <%= dt_dd_for_hash_when_set(bank, :ascription)%>
    <%= dt_dd_for_hash_when_set(bank, :iban)%>
    </dl>
  <% end %>
<% end %>

<h2>Adressen</h2>
<% (@customer.twinfield_raw&.[](:addresses) || []).each do |address| %>
<h4><%= I18n.t(address[:type], scope: "activemodel.values.twinfield/customer/address.type")%></h4>
<address>
  <%= simple_format Customer.format_address(address)%>
  <% if address[:email]%>
  <div><%= link_to address[:email], "mailto:#{address[:email]}" %></div>
  <% end%>
  <% if address[:telephone]%>
  <div><%= link_to address[:telephone], "tel:#{address[:telephone]}" %></div>
  <% end %>
</address>
<hr/>
<% if defined?(current_user) && current_user %>
<%= link_to "Voeg adres toe", edit_customer_path(@customer, {add_address: true}), class: [:button, :secondary, :small] %>
<% end %>
<% end %>
