Klant: <%= @customer.name%>

E-mailadres: <%= @customer.email%>
Website: <%= @customer.twinfield_raw[:website]%>
<% if @customer.business? %>
Contactpersoon: <%=@customer.individual_name%>
KvK-nummer: <%= @customer.twinfield_raw[:cocnumber]%>
<% end %>

Adresgegevens:

<% @customer.twinfield_raw[:addresses].each do |address| %>
<%= Customer.format_address(address)%>
<%= address[:email] %>
<%= address[:telephone]%>
<% end %>

