<%= simple_form_for @customer do |f| %>
  <%= f.input :customer_type, required: true, collection: Customer::TYPES.map{|a| [I18n.t(a, scope: "activerecord.values.customer.type"), a]} %>
  <%= f.input :company_name, required: false, hint: "Indien van toepassing" %>
  <fieldset><legend>Naam klant / contactpersoon</legend>
    <div class="form__fields--compact">
      <%= f.input :initials, required: false%>
      <%= f.input :first_name, required: false%>
      <%= f.input :last_name_prefix, required: false, wrapper_html: {class: "field--small"} %>
      <%= f.input :last_name, required: false%>
    </div>
  </fieldset>
  <fieldset>
    <%= f.input :email, required: true%>
    <%= f.input :auto_finalize_invoices %>
    <%= f.input :company_vat %>
  </fieldset>
  <%= f.simple_fields_for @customer.twinfield_customer do |tf| %>
     <%= tf.input :website, required: false%>
     <%#= tf.input :cocnumber, required: false%>
     <%#= tf.input :vatnumber, required: false%>
     <% if @customer.twinfield_customer.addresses.any? %>
       <h2>Adressen</h2>
       <% @customer.twinfield_customer.addresses.each do |address| %>
         <%= tf.fields_for "twinfield_customer_addresses[]", address do |tfa| %>
           <fieldset data-scope="customer[twinfield_customer][twinfield_customer_addresses][<%= tfa.object.id %>]">
             <%= tfa.input :_destroy, as: :boolean, wrapper_html: {class: [:button, :small, :warn, :destroy]} %>
             <%= tfa.input :type, collection: Twinfield::Customer::Address::TYPES.map{|a| [I18n.t(a, scope: "activemodel.values.twinfield/customer/address.type"), a]}.to_h%>

             <%= tfa.input :default, as: :boolean%>
             <%= tfa.input :name, required: false %>

             <%= tfa.input :field1, required: false %>
             <%= tfa.input :field2, required: false %>
             <%= tfa.input :field3, as: :hidden %>
             <%= tfa.input :field4, as: :hidden %>
             <%= tfa.input :field5, as: :hidden %>
             <%= tfa.input :field6, as: :hidden %>
             <%= tfa.input :contact, as: :hidden%>
             <div class="form__fields--compact">
             <%= tfa.input :postcode, required: false, wrapper_html: {class: "field--small"} %>
             <%= tfa.input :city, required: false %>
             </div>
             <%= tfa.input :country, collection: ["NL", "BE", "DE"], wrapper_html: {class: "field--small"} %>
             <%= tfa.input :telephone, required: false %>
             <%= tfa.input :email, required: false %>
             <%= tfa.input :telefax, as: :hidden %>


           </fieldset>
         <% end %>
       <% end %>
     <% end %>
     <% if @customer.twinfield_customer.banks.any? %>
       <h2>Bank</h2>
       <% @customer.twinfield_customer.banks.each do |bank| %>
         <%= tf.fields_for "twinfield_customer_banks[]", bank do |tfb| %>
           <fieldset>
             <%= tfb.input :accountnumber, as: :hidden %>
             <%= tfb.fields_for :address do |tfba| %>
               <%= tfba.input :name, as: :hidden %>
               <%= tfba.input :field1, as: :hidden %>
               <%= tfba.input :field2, as: :hidden %>
               <%= tfba.input :field3, as: :hidden %>
               <%= tfba.input :field4, as: :hidden %>
               <%= tfba.input :field5, as: :hidden %>
               <%= tfba.input :field6, as: :hidden %>
               <%= tfba.input :contact, as: :hidden%>
               <%= tfba.input :postcode, as: :hidden %>
               <%= tfba.input :city, as: :hidden %>
               <%= tfba.input :telephone, as: :hidden %>
               <%= tfba.input :email, as: :hidden %>
               <%= tfba.input :telefax, as: :hidden %>
               <%= tfba.input :type, as: :hidden%>
               <%= tfba.input :country, as: :hidden %>
             <% end%>
             <%= tfb.input :bankname, as: :hidden %>
             <%= tfb.input :biccode, as: :hidden %>
             <%= tfb.input :city, as: :hidden %>
             <%= tfb.input :country, as: :hidden %>
             <%= tfb.input :natbiccode, as: :hidden %>
             <%= tfb.input :postcode, as: :hidden %>
             <%= tfb.input :state, as: :hidden %>
             <%= tfb.input :default, as: :boolean%>
             <%= tfb.input :ascription, required: false %>
             <%= tfb.input :iban, required: false%>
           </fieldset>
         <% end %>
       <% end %>
     <% end %>
  <% end %>
<%= f.submit %>
<% end %>