<nav role="actions">
  <ul>
    <li><%= button_to "Verwijder", customer_path(@customer), class: [:button, :primary], method: :delete %></li>
  </ul>
</nav>
<h1>Bewerk klant</h1>
<%= render :partial => 'form' %>
