<nav role="actions">
  <ul>
    <li><%= link_to "Nieuwe klant", new_customer_path, class: [:button, :primary] %></li>
  </ul>
</nav>
<h1>Klanten</h1>
<form class="search">
  <input type="search" name="q" value="<%=params[:q]%>"/>
  <input type="submit" value="Zoek "/>
</form>

<table>
  <thead>
    <tr>
      <th>Klantcode<br/>boekhoudpakket</th><th>Bedrijfsnaam</th><th>Klantnaam / contactpersoon</th><th>Postcode</th>
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= link_to customer.twinfield_code, customer_path(customer.uuid) if customer.twinfield_code%></td>
      <td><%= link_to customer.company_name, customer_path(customer.uuid) if customer.company_name%></td>
      <td><%= link_to (customer.individual_name || customer.name), customer_path(customer.uuid) if (customer.individual_name || customer.name)%></td>
      <td><%= link_to customer.postal_code, customer_path(customer.uuid) if  customer.postal_code%></td>
    </tr>
  <% end %>
  </tbody>
</table>