<nav role="actions">
  <ul>
    <li><%= link_to "Leningen, reserveringen & historie", customer_time_spans_path(@customer, scope: :rental_outgoing) %></li>
    <li><%= link_to "Facturen", customer_invoices_path(@customer) %></li>
    <li><%= button_to "Selecteer", draft_invoice_url(draft_invoice), method: :patch, params: {invoice: {customer_id: @customer.id}}%></li>
    <li><%= link_to "Bewerk", edit_customer_path(@customer), class: [:button, :primary] %></li>
  </ul>
</nav>
<h1>Klant: <%= @customer.name%></h1>
<div class="u-columns">
<section>
  <%= render @customer%>
</section>
<section>
<%= simple_form_for @customer do |f| %>
  <%= f.input :comments, as: :text, input_html: {class: "large"}%>
<%= f.submit %>

<% end %>
</section>
</div>
<h2>Betaalstatus</h2>
<p>Merk op: Beschikbare facturen moeten nog worden geïncasseerd.</p>
<% begin %>
<table>
  <thead>
    <tr><th>Datum</th><th>Nummer</th><th>Bedrag</th><th>Status</th></tr>
  </thead>
  <tbody>
    <%= render @customer.cached_twinfield_customer.transactions(code: "VRK").sort{|a,b| a.date <=> b.date} if @customer.cached_twinfield_customer%>
  </tbody>
</table>
<% rescue SocketError%>
<p>De verwerkte facturen konden tijdelijk niet worden opgehaald.</p>
<% end%>
<%= @customer.twinfield_raw if params[:debug]%>

<%= link_to "Gegevens ten tijde van import", customer_raw_path(@customer) if @customer.old_data.present?%>