<% url = reservation.persisted? ? collection_work_reservation_path(@work.collection_id, @work.id, reservation) : collection_work_reservations_path(@work.collection_id, @work.id) %>
<%= simple_form_for(reservation, url: url) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <% if reservation.customer_id %>
      <%= f.input :customer_id, as: :hidden%>
    <% else  %>
      <%= f.input :name, required: true %>
      <%= f.input :address %>
      <%= f.input :postal_code %>
      <%= f.input :city %>
      <%= f.input :email %>
      <%= f.input :telephone %>
    <% end %>
    <%= f.input :comments %>

    <%= f.input :intent, collection: ["rental_outgoing", "purchase"].collect{|a| [I18n.t(a, scope: [:activerecord, :values, :time_span, :classification]),a]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
