<%= link_to @work.title_rendered, collection_management_work_path(@work) %>

<h1>Reserveringen</h1>

<table id="reservations">
  <thead>
    <th>Datum</th><th>Klant</th><th>Werk</th>
  </thead>
  <tbody>
  <% @reservations.each do |reservation| %>
    <tr><td><%= link_to I18n.l(reservation.starts_at, format: :short), collection_work_reservation_url(@work.collection_id, @work, reservation) %><td><%= link_to reservation.name_with_fallback, collection_work_reservation_url(@work.collection_id, @work, reservation) %></td><td><%= link_to reservation.work.title_rendered, collection_work_reservation_url(@work.collection_id, @work, reservation) %></td></tr>
  <% end %>
  </tbody>
</table>
