<%= link_to @work.title_rendered, collection_management_work_path(@work) %>

<h1>Reserveer werk</h1>
<h2>Reserveer werk voor <%= draft_invoice.customer&.name || "een bestaande klant" %></h2>
<% if @reservation.customer_id %>
  <%= render "form", reservation: @reservation %>
<% else %>
  <p><%= link_to "Zoek of maak een klant", customers_path%></p>
<% end %>

<h2>Reserveer werk voor niet bestaande klant</h2>
<% if !draft_invoice.customer %>
<%= render "form", reservation: @reservation %>
<% else %>
    <p><%= button_to "Reset huidige klantsessie", reset_draft_invoices_url(), params: {return_to: new_collection_work_reservation_url(@work.collection_id, @work.id)}, method: :post, class: [:button, :secondary]%></p>
<% end %>