<%= link_to @reservation.work.title_rendered, collection_work_path(@reservation.work.collection_id, @reservation.work) %>
<h1>Reservering</h1>
<%= definition_list_for @reservation do %>
  <%= define_unless_blank :status%>
  <%= define_unless_blank :starts_at%>
  <%= define_unless_blank :ends_at%>
  <%= define_unless_blank :classification %>
<% end %>

<% if @reservation.customer %>
  <p>Reservering door: <%= link_to @reservation.customer.name, @reservation.customer%></p>
<% elsif @reservation.contact&.parsed_remote_data %>
  <p>Deze reservering is niet gekoppeld aan een bestaande klant. Ten tijde van de reservering zijn de volgende gegevens genoteerd:
  <dl>
    <dt>Naam:</dt><dd><%= @reservation.contact.parsed_remote_data[:name] %></dd>
    <dt>Adres:</dt><dd><address>
      <%= simple_format @reservation.contact.time_span_provided_address%>
  </address>
  </dd>
    <dt>E-mail:</dt><dd><%= @reservation.contact.parsed_remote_data[:email].present? ? link_to(@reservation.contact.parsed_remote_data[:email], "mailto:#{@reservation.contact.parsed_remote_data[:email]}") : "" %></dd>
    <dt>Telefoon:</dt><dd><%= @reservation.contact.parsed_remote_data[:telephone] %></dd>
  </dl>
<% end %>
<h3>Opmerkingen</h3>
<%= simple_format @reservation.comments %>


<nav class="actions">
  <ul>
    <li><%= link_to "Toon en bewerk deze reservering in CollectionManagement", collection_management_collection_work_time_span_url(@reservation), class: [:button, :secondary]%>
  <li><%#= link_to "Bewerk deze reservering", edit_reservation_path(@reservation) %></li>
  <li><%#= button_to "Verwijder deze reservering", @reservation, method: :delete, data: {confirm: "Weet je het zeker dat je deze reservering wilt verwijderen?"} %></li>
</nav>
