<li class="card work" data-list-target="work">
    <div class="text">
        <h4>
          <% collection = @collection || CollectionManagement::Collection.new(id:work.collection_id) %>
          <%= collection&.id ? link_to(work.title_rendered, collection_work_path(collection, work)) : work.title_rendered %>        <%= "(#{work.object_creation_year})" if work.object_creation_year%>
        </h4>
        <% if defined?(intent) && @draft_invoice%>
          <nav role="actions" class="not-for-print">
            <%= button_to "Verwijder", draft_invoice_url(@draft_invoice), method: :patch, params: {invoice: {remove_intent_attributes: {work_id: work.id, intent: intent}}}%>
            <%= link_to "Bewerk korting", draft_invoice_invoice_item_edit_discount_url(@draft_invoice, invoice_item), class: [:button]%>
          </nav>
          <div>
            <%= number_to_currency @draft_invoice.invoice_items.find{|ii| ii.work == work}&.unit_price%> / maand
          </div>
        <% end %>
        <p class="stock_number"><%= work.stock_number%></p>
        <p><%= work.artist_name_rendered%>
</p>
        <p><%= work.techniques.map(&:name).to_sentence %><br/><%= work.work_size || work.frame_size%></p>
    </div>
    <div class="img">
      <% if work.photo_front %>
        <img src="<%= work.photo_front["big_thumb"] %>" alt="">
      <% end %>
    </div>
</li>

