<h1>Retourneer <%= @work.title_rendered%></h1>
<%= simple_form_for @work, url: collection_work_return_path do |f| %>
<p>Hiermee wordt de huur van <strong><%=@work.artist_name_rendered%> - <%=@work.title_rendered%></strong> <% if @work.current_active_time_span.customer %>door <strong><%= @work.current_active_time_span.customer.name%></strong><% end %> beëindigd.</p>
<%= f.submit "Beëindig huur"%>
<% end %>