<% if !@invoice_item.persisted? %>
<nav class="card">
  <ul>
    <li><%= menu_link_to "Artikel", new_draft_invoice_invoice_item_path(@draft_invoice, params: {invoiceable_type: "Article"})%></li>
    <li><%= menu_link_to "Cadeaubon", new_draft_invoice_invoice_item_path(@draft_invoice, params: {invoiceable_type: "GiftCard"})%></li>
  </ul>
</nav>

<% end %>
<%= simple_form_for(@invoice_item, url: @invoice_item.persisted? ? draft_invoice_invoice_item_path(@draft_invoice, @invoice_item) : draft_invoice_invoice_items_path(@draft_invoice)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.to_a.to_sentence if f.object.errors.present? %>

  <% if params[:invoiceable_type] == "GiftCard" || @invoice_item.invoiceable_type == "GiftCard" %>
  <p>Voeg cadeubon gerelateerde regel toe</p>
    <%= f.input :quantity, as: :hidden, value: 1 %>
    <%= f.input :invoiceable_type, as: :hidden, value: "GiftCard" %>
    <%= f.input :intent, as: :hidden, value: :purchase %>

    <%= f.fields_for GiftCard.new do |gcf| %>
    <div class="form__fields--compact">

      <%= gcf.input :code %>
      <%= gcf.input :amount, as: :float, required: true%>
      <%= gcf.input :action, collection: GiftCard::ACTIONS.map{|a| [I18n.t(a, scope: [:activerecord, :values, :gift_card, :action]), a]}%>
      </div>
    <% end %>

  <% else %>
  <p>Voeg een artikel toe</p>
  <div class="form-inputs">
    <div class="form__fields--compact">
    <%= f.input :quantity, required: true %>
    <%= f.input :invoiceable_id, collection: Article.all, include_blank: false, selected: f.object.article_id %>
    <%= f.input :invoiceable_type, input_html: {value: "Article"}, as: :hidden%>
    <%= f.input :intent, collection: InvoiceItem::TYPES.map{|a| [I18n.t(a, scope: [:activerecord, :values, :invoice_item, :intent]), a]}%>
    <%= f.input :unit_price, as: :float, required: true %>
    <%= f.input :input_price_ex_vat %>
    </div>
    <%= f.input :note %>
  </div>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
