<% if invoice_item.invoiceable_type == "CollectionManagement::Work" %>
  <%= render 'collection_management/works/work', {work: invoice_item.invoiceable, intent: invoice_item.intent, invoice_item: invoice_item} %>
<% elsif invoice_item %>
  <%= invoice_item.quantity %>x <%= invoice_item.name %> <%= invoice_item.note %> <%= number_to_currency invoice_item.unit_price %>
  <% if  @draft_invoice%>
    <%= link_to "Bewerk", edit_draft_invoice_invoice_item_url(@draft_invoice, invoice_item), class: [:small, :button, :inline] %>
    <%= button_to "Verwijder", draft_invoice_invoice_item_url(@draft_invoice, invoice_item), method: :delete, class: [:small, :button, :warn, :inline] %>
  <% end %>
<% end %>