<h1>Bewerk kortingsregel</h1>
<%= simple_form_for(@invoice_item, url: @invoice_item.persisted? ? draft_invoice_invoice_item_path(@draft_invoice, @invoice_item) : draft_invoice_invoice_items_path(@draft_invoice)) do |f| %>
<div class="u-columns">
<%= f.input :discount_amount %>
<%= f.input :discount_type, collection: InvoiceItem::DISCOUNT_TYPES.map{|a| [I18n.t(a, scope: [:activerecord, :values, :invoice_item, :discount_type]), a]}%>
</div>
<%= f.submit "Bewaar korting" %>
<% end %>


