<section class="invoice">
  <%= image_tag 'heden-today-logo.svg', width: 150%>
  <div class="u-columns">
  <div>
  <%= render partial: "organisation_address"%>

  <p>KvK: <%= Rails.application.config_for(:uitleen).dig(:finance, :coc_id) %><br/>
    BTW: <%= Rails.application.config_for(:uitleen).dig(:finance, :vat_id) %><br/>
    Bank: <%= Rails.application.config_for(:uitleen).dig(:finance, :iban) %>
  </p>
  </div>
  <% uitleen_invoice = sales_invoice.uitleen_invoice%>

  <div>
    <p><br/><br/><br/></p>
  <address>
    <%=simple_format sales_invoice.invoice_address.to_s%>
  </address>
  <% if uitleen_invoice.customer.company_vat.present? %>
    <p>BTW: <%= uitleen_invoice.customer.company_vat%></p>
  <% end %>

  <% if sales_invoice.invoice_address.to_s != sales_invoice.deliver_address.to_s %>
    <p>Afleveradres</p>
    <address><%=simple_format sales_invoice.deliver_address.to_s %></address>
  <% end%>
  </div>
  </div>
  <% if false && uitleen_invoice&.customer %>
    <dl>
    <dt>Opgebouwd spaartegoed</dt>
    <dd><%= number_to_currency uitleen_invoice.customer_total_savings %></dd>
    <dt>Cadeaukaart tegoed</dt>
    <dd><%= number_to_currency uitleen_invoice.customer_total_gift_card_credit %></dd>
    </dl>
  <% end %>
  <h1><%= uitleen_invoice&.credit_invoice? ? "Creditfactuur" : "Factuur"%> <%=sales_invoice.invoicenumber %></h1>

  <dl>
    <div class="u-columns">
      <div>
        <dt>Factuurdatum</dt>
        <dd><%=I18n.l sales_invoice.invoicedate, format: :long%></dd>
      </div>
      <div>
        <dt>Vervaldatum</dt>
        <dd><%=I18n.l sales_invoice.duedate.to_date, format: :long%></dd>
      </div>
    </div>
    <% if uitleen_invoice.reference.present? %>
    <dt>Klantreferentie</dt>
    <dd><%= uitleen_invoice.reference %></dd>
    <% end %>
    <% if uitleen_invoice.po_number.present? %>
    <dt>PO nummer</dt>
    <dd><%= uitleen_invoice.po_number %></dd>
    <% end %>

  </dl>

  <table>
    <thead>
      <tr><th class="number">Aantal</th><th>Beschrijving</th><th class="number">Stuksprijs<br/>(ex. btw)</th><th class="number">Stuksprijs<br/>(incl. btw)</th><th class="number">Totaal</th></tr>
    </thead>
    <tbody>
      <% if uitleen_invoice.summarize_invoice_items? %>
        <%= render(uitleen_invoice.invoice_items.summarize) %>
      <% end %>
      <% sales_invoice.associated_lines_mapped.each do |line| %>
        <% if !uitleen_invoice.summarize_invoice_items? || (line.quantity && line.quantity < InvoiceItem::SUMMARIZE_CUT_OFF) %>
          <%= render partial: 'twinfield/sales_invoice/lines/line', locals: {line: line} %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class=" u-columns">
    <div></div>
    <div></div>
    <div>
      <table>
      </table>

      <table>
        <thead>
          <tr><th>BTW</th><td class="number"></td><td></td></tr>
        </thead>
        <tbody>
          <% sales_invoice.vat_lines.each do |line| %>
            <%= render partial: 'twinfield/sales_invoice/vat_lines/vat_line', locals: {vat_line: line } %>
          <% end %>
          <tr><td>Totaal ex. btw</td><td class="number"><%= number_to_currency sales_invoice.totalexcl %></td><td></td></tr>
        </tbody>
      </table>

    </div>
    <div></div>

  </div>
  <div class="u-columns">
    <div>

      </div>
      <div>
      <table>
<tbody>        <tr><th>Totaal</th><td><td class="number"><strong><%= number_to_currency sales_invoice.total_as_intended %></strong></td></tr>
</tbody></table>
      </div>
  </div>
  <% if sales_invoice.invoicedate&.to_date == Date.new(2022,7,17)%>
  <p><%= sales_invoice.footertext.to_s.sub(/Let op: deze factuur is een kopie factuur vanuit vorige boekhoudpakket. Oorspronkelijk factuurnummer \d*/, '') %></p>
  <% else %>
  <%= simple_format(uitleen_invoice.footertext  || sales_invoice.footertext || "")%>
  <% end%>
  <% if sales_invoice.total_as_intended == 0 || sales_invoice.uitleen_invoice.paid? %>
    <p>De factuur is betaald. Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% elsif sales_invoice.total_as_intended < 0 %>
    <p>U hoeft niets te betalen. We zullen het bedrag uitkeren of verrekenen met een eerder verstuurde factuur. Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% elsif uitleen_invoice&.collect_mandate? %>
    <p>Het openstaande bedrag van <%= number_to_currency sales_invoice.total %> zal binnenkort automatisch worden afgeschreven conform de machtiging. Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% else %>
    <p>Gelieve het bovenstaande bedrag van <%= number_to_currency sales_invoice.total %> te voldoen voor <%=I18n.l sales_invoice.duedate.to_date, format: :long %> onder vermelding van het factuurnummer <%=sales_invoice.invoicenumber%>. Voor vragen kunt u altijd contact opnemen: info@heden.nl</p>
  <% end %>
</section>