<section class="invoice">
  <%= image_tag 'heden-today-logo.svg', width: 150%>

  <h1><%= sales_invoice.uitleen_invoice&.credit_invoice? ? "Specificatie creditfactuur" : "Specificatie factuur"%> <%=sales_invoice.invoicenumber %></h1>

  <table>
    <thead>
      <tr><th class="number">Aantal</th><th>Beschrijving</th><th class="number">Stuksprijs<br/>(ex. btw)</th><th class="number">Stuksprijs<br/>(incl. btw)</th><th class="number">Totaal</th></tr>
    </thead>
    <tbody>
      <% sales_invoice.associated_lines_mapped.each do |line| %>
        <%= render partial: 'twinfield/sales_invoice/lines/line', locals: {line: line} %>
      <% end %>
    </tbody>
  </table>

</section>