<p>Geachte heer, mevrouw,</p>

<p>We hebben uw gegevens zojuist vastgelegd omdat u zich heeft aangemeld als (potentiële) klant bij Heden. </p>

<p>Mocht u vragen hebben over deze registratie, neem gerust contact met ons op.</p>

<p>Met vriendelijke groeten,
<br/>
<br/>
<br/>
Team Heden.
</p>


