← <%= link_to @customer.name, @customer %>
<nav role="actions">
  <ul>
    <li><%= menu_link_to "Leningen", customer_time_spans_path(@customer, scope: :rental_outgoing), exact_match: true %></li>
    <li><%= menu_link_to "Reserveringen", customer_time_spans_path(@customer, scope: :reservations), exact_match: true %></li>
    <li><%= menu_link_to "Historie", customer_time_spans_path(@customer, scope: :history), exact_match: true %></li>
  </ul>
</nav>
<h1>Uitgeleend, gereserveerd & gekocht</h1>
<p>Op deze pagina zie je wat een klant momenteel leent en gereserveerd heeft, en in het verleden heeft gekocht en geleend.</p>


<% if @display_scope == :rental_outgoing %>
<h2>Uitgeleend</h2>
<% if @current_rentals.any? %>
  <ul class="cards">
  <%= render @current_rentals %>
</ul>
<% else %>
<p>Geen werken</p>
<% end %>
<% elsif @display_scope == :reservations %>
<h2>Reserveringen</h2>
<% if @current_reservations.any? %>
  <ul class="cards">
  <%= render @current_reservations %>
</ul>
<% else %>
<p>Geen werken</p>
<% end %>
<% elsif @display_scope == :history %>
<h2>Historie</h2>
<h3>Aankopen</h3>
<% if @purchases.any? %>
  <ul class="cards">
  <%= render @purchases %>
</ul>
<% else %>
<p>Geen werken</p>
<% end %>
<h3>In het verleden geleend</h3>
<% if @finalized_rentals.any? %>
  <ul class="cards">
  <%= render @finalized_rentals %>
</ul>
<% else %>
<p>Geen werken</p>
<% end %>
<% end %>
