← <%= link_to @customer.name, @customer %>
<nav role="actions">
  <ul>
    <li><%= menu_link_to "Leningen", customer_time_spans_path(@customer, scope: :rental_outgoing), exact_match: true %></li>
    <li><%= menu_link_to "Reserveringen", customer_time_spans_path(@customer, scope: :reservations), exact_match: true %></li>
    <li><%= menu_link_to "Historie", customer_time_spans_path(@customer, scope: :history), exact_match: true %></li>
  </ul>
</nav>
<h1><%= I18n.t @time_span.classification, scope: "activerecord.values.time_span.classification" %>: <%= @time_span.subject.title_rendered%></h1>

<%= definition_list_for @time_span do %>
  <%= define_unless_blank :status, override_value: I18n.t(@time_span.status, scope: :status) %>
  <%= define_unless_blank :customer %>
  <%= define_unless_blank :starts_at %>
  <%= define_unless_blank :ends_at %>
<% end %>


<p><%= link_to "Bekijk deze gebeurtenis in CollectieManagement", collection_management_collection_work_time_span_url(@time_span)%>