<%#
      attr_accessor :id, :article, :subarticle, :quantity, :units, :allowdiscountorpremium, :description, :unitspriceexcl, :unitspriceinc, :freetext1, :freetext2, :freetext3, :dim1, :vatcode, :performancetype, :performancedate, :financials, :valueexcl, :vatvalue, :valueinc


%>
<tr>
  <td class="number"><%= number_to_human(line.quantity, precision: 5) %></td><td><%= line.description%><br/><em><%= line.invoicing_period_desc %></em></td><td class="number"><%= number_to_currency line.unitspriceexcl%></td><td class="number"><%= number_to_currency(line.valueinc_as_intended&./(line.quantity.to_d))%></td><td class="number"><%= number_to_currency line.valueinc_as_intended %></td>
</tr>