
  <address>
    <%= Rails.application.config_for(:uitleen)[:name]%><br/>
    <%= simple_format Rails.application.config_for(:uitleen)[:address]%>
    T: <%= Rails.application.config_for(:uitleen)[:telephone]%><br/><br/>
    <%= Rails.application.config_for(:uitleen)[:email]%><br/>
  </address>