<h1>Uitleen</h1>
<p>De uitleenapplicatie verbind de boekhouding met het collectie beheer. De belangrijkste taken:</p>
<ul>
  <li>Verkoop en verhuur van werken</li>
  <li>Balieverkoop</li>
  <li>Opvoeren klanten</li>
  <li>Nakijken klantgegevens</li>
</ul>