<h1>Rapportages</h1>
<h2>Speciale verzoeken</h2>
<ul>
  <li><%= link_to "Spaartegoeden en de uitgeleende werken", reports_savings_path%></li>
  <li><%= link_to "Totaaloverzicht uitgeleende werken", reports_lent_path%></li>
  <li><%= link_to "Verlopen uitleenacties", reports_unfinished_ended_path%></li>
</ul>
