<h1>Uitgeleende werken</h1>

<p>In deze rapportage worden alle uitgeleende werken getoond, met de klant en de factuur waarop de uitlening is verwerkt.</p>

<table class="sortable">
  <thead>
    <tr>
      <th>Inv. nummer</th><th>Vervaardiger</th><th>Titel</th><th>Klant ID</th><th>Klant</th><th>Uitgeleend sinds</th><th>Factuur</th>
    </tr>
  </thead>
  <tbody>
    <% @time_spans.each do |time_span| %>
      <% work = time_span.subject %>
      <% invoice = @invoice_hash[work.id.to_s]%>
      <% last_month_invoice = @invoice_last_month_hash[work.id.to_s]%>
      <% customer = time_span.contact ? @customer_hash[time_span.contact.uuid] : nil%>
      <tr>
        <td><%= link_to work.stock_number, collection_management_work_path(work)%></td>
        <td><%= work.artist_name_rendered%></td>
        <td><%= work.title_rendered%></td>
        <td><%= customer ? link_to(customer.id, customer) : "" %></td>
        <td><%= customer ? link_to(customer.name, customer) : "Geen klant" %></td>
        <td><%= I18n.l(time_span.starts_at.to_date, format: :short) if time_span.starts_at %></td>
        <td><%= if invoice
          link_to(invoice.invoice_number, invoice)
        elsif last_month_invoice
          link_to(last_month_invoice.invoice_number, last_month_invoice, class: :expired, title: "Factuur van vorige periode")
        end
        %></td>
      </tr>
    <% end %>
  </tbody>
</table>
