<h1>Spaartegoeden</h1>
<p>Toelichting: Op 1 juli 2022 heeft de overstap plaatsgevonden; in Twinfield zijn alle facturen geboekt vanaf 1 januari 2022. Vanuit de spaartegoeden van 30-6-2022 is teruggerekened naar de spaartegoeden op 31-12-2021. Getoond worden steeds eindejaarstotalen. Het huidige jaar is het totaal tot moment van draaien van de rapportage.</p>
<%= link_to 'Download als CSV', {action: 'savings_per_year', format: 'csv'}, class: 'button' %>
<table>
  <thead><tr><th>Jaar</th><th>Totaal spaartegoed</th><th>Mutatie</th></tr></thead>
  <tbody>
<% @years.each do |year| %>
    <tr>  <td><%= year %></td><td><%= number_to_currency @year_data[year][:sum] %></td><td><%= number_to_currency @year_data[year][:delta] %></td></tr>
<% end %>
</tbody>
</table>
<table class="sortable">
<thead>
  <tr>
    <th rowspan="2">Klantcode</th><th rowspan="2">Type</th><th rowspan="2">Naam</th><th colspan="<%=@years.count*2%>">Spaartegoed</th>
  </tr>
  <tr>
    <% @years.each do |year| %>
      <th class="number"><%=year%></th>
      <th class="number"><%=year%> tot.</th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @data_per_year.each do |key, value|%>
  <tr>
    <td><%= link_to value[:customer_code], value[:customer]%></td><td><%= link_to value[:type], value[:customer]%></td><td><%= link_to value[:name], value[:customer]%></td>
    <% @years.each do |year| %>
      <td class="number" data-sortkey="<%= value[year].to_f%>"><%= number_to_currency value[year].to_f%></td>
      <td class="number" data-sortkey="<%= value["#{year}_sum"].to_f%>"><%= number_to_currency value["#{year}_sum"].to_f%></td>
    <% end %>
    </tr>
<% end%>
</tbody>
</table>
