<h1>Spaartegoeden</h1>
<table class="sortable">
<thead>
  <tr><th>Klant</th><th class="number">Spaartegoed</th><th class="number">Geleende werken</th></tr>
</thead>
<tbody>
<% @customers_with_savings.each do |customer|%>
  <tr><td><%= link_to customer%></td><td class="number" data-sortkey="<%= customer.total_savings.to_f%>"><%= number_to_currency customer.total_savings%></td><td class="number"><%= number_to_currency CollectionManagement::TimeSpan.where(current_user: current_user, contact_url: customer.uri, status: [:active], classification: :rental_outgoing, limit: 100, subject_type: "Work").map(&:subject).map{|a| a.selling_price.to_f}.sum %></td></tr>
<% end%>
</tbody>
</table>
<% if params[:offset].to_i >= ReportsController::LIMIT %>
<%= link_to "← Terug", reports_savings_path(offset: params[:offset].to_i - ReportsController::LIMIT)%>
<% end %>
<% if @customers_with_savings.count == ReportsController::LIMIT %>

<%= link_to "Vooruit →", reports_savings_path(offset: params[:offset].to_i + ReportsController::LIMIT)%>
<% end %>
