<%=
data = [(["code","type","name"]+@years.map{|year| "#{year} delta"})+@years.map{|year| "#{year} total"}]
@data_per_year.each do |_, row|
  data << [row[:customer_code], row[:type], row[:name]] + @years.map { |year| row.send(:"[]",year).to_f.round(2) } + @years.map { |year| row.send(:"[]","#{year}_sum").to_f.round(2) }
end
data.map(&:to_csv).join("").html_safe

%>