<h1>Actieve uitleenacties met een einddatum in het verleden.</h1>

<p>In deze rapportage worden alle werken getoond die nog een actieve uitleenactie hebben, maar waarvan de einddatum van die uitleen actie in het verleden ligt. Mogelijk zijn deze werken reeds terug maar onverwerkt, mogelijk is de huurperiode verlengt.</p>

<table class="sortable">
  <thead>
    <tr>
      <th>Inv. nummer</th><th>Vervaardiger</th><th>Titel</th><th>Klant</th><th>Uitgeleend sinds</th><th>Uitgeleend tot</th>
    </tr>
  </thead>
  <tbody>
    <% @time_spans.each do |time_span| %>
      <% work = time_span.subject %>
      <% invoice = @invoice_hash[work.id.to_s]%>
      <% last_month_invoice = @invoice_last_month_hash[work.id.to_s]%>
      <% customer = time_span.contact ? @customer_hash[time_span.contact.uuid] : nil%>
      <tr>
        <td><%= link_to work.stock_number, collection_management_work_path(work)%></td>
        <td><%= work.artist_name_rendered%></td>
        <td><%= work.title_rendered%></td>
        <td><%= customer ? link_to(customer.name, customer) : "Geen klant" %></td>
        <td><%= I18n.l(time_span.starts_at.to_date, format: :short) if time_span.starts_at %></td>
        <td><%= I18n.l(time_span.ends_at.to_date, format: :short) if time_span.ends_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
