<!DOCTYPE html>
<html>
  <head>
    <title>Uitleen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <style>
  @import url('<%= "#{Rails.application.config.action_controller.asset_host}/static/heden/heden-print.css"%>');
</style>
    <% if notice || @notice %>
      <p class="notice hide-for-print"><%= notice || @notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert hide-for-print"><%= alert %></p>
    <% end %>

    <% if current_user %>
    <nav>
      <ul>
        <li><%= menu_link_to "Klanten", customers_path%></li>
        <li><%= menu_link_to "Werken", collection_path("auto"), path: collections_path%></li>
        <% if can? :index, Invoice %>
        <li><%= menu_link_to "Facturen", invoices_path %></li>
        <% end %>
        <% if can? :create, Article %>
          <li><%= menu_link_to "Artikelbeheer", articles_path%></li>
        <% end %>
        <% if can? :index, ReportsController %>
          <li><%= menu_link_to "Rapportages", reports_path%></li>
        <% end %>
        <li><%= link_to "➥ CollectionManagement",  Rails.application.credentials.collection_management_site if Rails.application.credentials.collection_management_site %></li>

      </ul>


      <ul>
        <li><%= menu_link_to draft_invoice.name, draft_invoice_path(draft_invoice)%></li>
        <li><%= button_to "Nieuwe klantsessie", reset_draft_invoices_url(), method: :post, class: [:button, :secondary]%></li>

        <li><%= button_to "Uitloggen", auth_path, method: :delete%></li>
      </ul>
    </nav>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
